<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seizedays.edu.mapper.SubjectMapper">
    <resultMap id="nestedSubject" type="com.seizedays.edu.vo.SubjectVo2">
        <id property="id" column="id" />
        <result property="title" column="title" />
        <collection property="children"
                    ofType="com.seizedays.edu.vo.SubjectVo2"
                    column="id"
                    select="selectNestedListByParentId" />
    </resultMap>


    <select id="selectNestedListByParentId" resultMap="nestedSubject">
        SELECT * FROM edu_subject
        WHERE parent_id = #{parentId}
    </select>
</mapper>
